<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Georgina Dávila - Nutricionista</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/resume.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Tu Nutricionista de Cabecera</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experiencia">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Formación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#publicaciones">Publicaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#colaboraciones">Colaboraciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacto">Contacto</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/galeria">Galería</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/blog">Blog Para Comerte Mejor</a>
          </li>          
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="sobre">
        <div class="my-auto">
          <h1 class="mb-0">Georgina <span class="text-primary">Dávila</span></h1>
          
          <div class="subheading mb-5">Palma de Mallorca, 07010 · (666) 666-666 ·
            <a href="mailto:georgina@email.com">email</a>
          </div>
          <p class="mb-5">Soy una experimentada nutricionista especializada en Cineantropometría y Nutrición Deportiva. Además poseo un curso de Especialización en Obesidad, así tengo las aptitudes necesarias para ayudar a pacientes con esta patología. Me apasiona mi trabajo y es por ello que además administro un proyecto online llamado "Para comerte mejor", donde trato de dar ideas para platos sencillos y saludables.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experiencia">
        <div class="my-auto">
          <h2 class="mb-5">Experiencia</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Nutrición deportiva</h3>
              <div class="subheading mb-3">FrauSalud CB (triatlon y ciclismo)</div>
              <div class="subheading mb-3">Centro ADN (crossfit, boxeo, fitness)</div>              
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2016 - Actualidad</span>
            </div>
          </div>
          
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Nutrición clínica</h3>
              <div class="subheading mb-3">NouSalud Centro Médico</div>
              <div class="subheading mb-3">Clínica Saludarium</div>
              <div class="subheading mb-3">FrauSalud CB</div>
              <div class="subheading mb-3"Osteopalma></div>
              <div class="subheading mb-3">Centro ADN</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2012 - Actualidad</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Educación Nutricional</h3>
              <div class="subheading mb-3">Consum Cooperativa (dieta mediterránea)</div>
              <div class="subheading mb-3">Proyecto Suma't (alimentación saludable en niños y adolescentes</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2011 - Actualidad</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Restauración Colectiva</h3>
              <div class="subheading mb-3">Sodhexo Hospital Clínico de Valencia</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2011</span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Formación</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">ICNS</h3>
              <div class="subheading mb-3">Especialización en Obesidad</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Junio 2016</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Universidad de Valencia</h3>
              <div class="subheading mb-3">Master en Cineantropometría y Nutrición Deportiva</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Septiembre 2012 - Junio 2013</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Universidad de Valencia</h3>
              <div class="subheading mb-3">Grado en Nutrición Humana y Dietética</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Septiembre 2007 - Junio 2011</span>
            </div>
          </div>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publicaciones">
        <div class="my-auto">
          <h2 class="mb-5">Publicaciones</h2>

           <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Consell de Mallorca</h3>
              <div class="subheading mb-3">Recomendaciones nutricionales en el ámbito deportivo</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Enero 2018 - Mayo 2018</span>
            </div>
           </div>
           
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="colaboraciones">
        <div class="my-auto">
          <h2 class="mb-5">Colaboraciones</h2>

           <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Greenpeace Mallorca</h3>
              <div class="subheading mb-3">Showcooking junto a Miquel Calent</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Diciembre - 2017</span>
            </div>
           </div>
           
           <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">IB3 Radio</h3>
              <div class="subheading mb-3">Programa No Apaguis El LLum</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Mayo 2018</span>
            </div>
           </div>
           
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contacto">
        <div class="my-auto">
          <h2 class="mb-5">Contacto</h2>
           
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-adjust text-info"></i>
              Formulario de Contacto</li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/resume.min.js' %}"></script>

  </body>

</html>
