<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Georgina Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <main>
      <h1><a href="/">Georgina Blog</a></h1>
      
      <section>
        {% for post in posts %}
        <article>
          <p>published: {{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
        </article>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
